@media screen and (max-width: 800px) {
  /* Nav-bar */
  #nav-bar .avatar {
    display: none;
  }
  div.nav-text {
    display: none;
  }
  #nav-bar a:nth-child(3) {
    padding-right: 10px;
  }
  #nav-bar a:nth-child(5) {
    padding-left: 10px;
  }
  /* About */
  .info-text {
    font-size: 2em;
  }
  /* Job-Info */

  #job-info .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(14, 90px);
    margin: auto;
  }
  .column-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 8;
  }
  .column-2 {
    grid-column: 1 / 2;
    grid-row: 12 / 15;
  }
  .column-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
  }
  .column-4 {
    grid-column: 2 / 3;
    grid-row: 10 / 13;
  }
  .column-5 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
  }
  .column-6 {
    grid-column: 1 / 2;
    grid-row: 8 / 12;
  }
  /* Certificate */
  .d-flex {
    display: block !important;
  }
  .img-certificate,
  .img-certificates {
    border: none;
    width: 100%;
    height: 500px;
  }
  .items {
    border-left: 1px solid #d6c08d;
  }
  /* Project */
  .col {
    gap: 1px;
  }
  .projetct-title {
    padding: 10px 2px;
  }
  .project-id > h3 {
    font-size: 1.2rem;
  }
  .project-date {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
  }
  .icon-prj {
    color: #199cdb;
    display: inline-block;
    font-size: 100%;
    padding: 0 30px;
    margin-left: -19px;
  }
  .icon-lamp {
    margin-left: 55px;
  }
  .icon-prj .text-prj {
    color: #000;
    font-style: normal;
    font-size: 20px;
    padding: 0px 0px !important;
  }
}
